@model Filmster.Models.ViewModels.ReviewViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Reviews", null, FormMethod.Post,
    new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.thisFilm.FilmId)
    @Html.HiddenFor(model => model.thisReview.Rating)
    
    
<div class="form-horizontal">
    <h4>Review</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <p>Review for:</p>
    <p>@Html.DisplayFor(model => model.thisFilm.Title)</p>

    <hr />

    <div class="form-group">
        <label class="control-label col-md-2" for="GenreID">Username</label>
        <div class="col-md-10">
            @Html.DropDownList("Users")
            @Html.ValidationMessageFor(model => model.thisUser.Username, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.thisReview.ReviewTitle, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.thisReview.ReviewTitle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.thisReview.ReviewTitle, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.thisReview.ReviewDetail, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.thisReview.ReviewDetail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.thisReview.ReviewDetail, "", new { @class = "text-danger" })
        </div>
    </div>



    @Html.LabelFor(model => model.thisReview.Rating, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <select class="Rating" name="Rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        @Html.ValidationMessageFor(model => model.thisReview.Rating, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
