@model Filmster.Models.ViewModels.ReviewViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.thisFilm.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thisFilm.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thisUser.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thisUser.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thisReview.ReviewTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thisReview.ReviewTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thisReview.ReviewDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thisReview.ReviewDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thisReview.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thisReview.Rating)
        </dd>

    
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.thisReview.ReviewId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
