@model Filmster.Models.ViewModels.ReviewViewModel

@{
    ViewBag.Title = "Review for " + Model.thisFilm.Title;
}

<!--Star rating script-->
<script type="text/javascript">
    $(document).ready(function () {
        //for each of the Rating dropdowns
        $('.Rating').each(function () {
            //get the value of the id from the hidden field
            //next to it
            var selectedId = $(this).next().val();
            //now apply this as the selected id to the current
            //dropdown box
            $(this).val(selectedId);
        });

        //no apply the plugin and set to readonly
        $('.Rating').barrating({
            theme: 'fontawesome-stars',
            readonly: true
        });
    });
</script>

<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.thisFilm.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thisFilm.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thisUser.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thisUser.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thisReview.ReviewTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thisReview.ReviewTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thisReview.ReviewDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thisReview.ReviewDetail)
        </dd>

        <dt>


            @Html.DisplayNameFor(model => model.thisReview.Rating)
        </dt>
        <dd>
            <select class="Rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <input type="hidden" class="initialRating" value="@Model.thisReview.Rating" />
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.thisReview.ReviewId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
