@model IEnumerable<Filmster.Models.ViewModels.FilmViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ThisFilmImage.ImageBytes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThisFilm.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThisCertificate.CertificateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThisFilm.Synopsis)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.ThisFilmImage.ImageBytes != null)
            {
                //Convert the image bytes into a png for displaying on the page.
                <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(item.ThisFilmImage.ImageBytes))" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThisFilm.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThisCertificate.CertificateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThisFilm.Synopsis)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ThisFilm.FilmId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ThisFilm.FilmId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ThisFilm.FilmId })
        </td>
    </tr>
}

</table>
