@model Filmster.Models.Genre

@{
    ViewBag.Title = "Delete " + Model.GenreName;
}

<script>
    alert("Warning! If this genre is assigned to any film records, the deletion will be cancelled.");
</script>



<h3 class="h2-adjusted">Are you sure you want to delete genre '@Model.GenreName'?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GenreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenreName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
