@model Filmster.Models.User

@{
    ViewBag.Title = "Delete User" + @Model.Username;
}

    <script>
    alert("Warning! Deleting this user will delete any reviews created by the user.\n\nProceed with caution.");
    </script>



<h3 class="h2-adjusted">Are you sure you want to delete user '@Model.Username'?</h3>
<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
